.bodyloader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    height: 200px;
    width: 200px;
    border: 12px solid #e3e3e3;
    border-radius: 50%;
    border-right-color: #e62e00;
    animation: spin 1s ease infinite;
}
.darkloader{
    height: 200px;
    width: 200px;
    border: 12px solid #e3e3e3;
    border-radius: 50%;
    border-right-color: green;
    animation: spin 1s ease infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}