.filebadgecontainer{
    display: flex;
    border: 2px solid blueviolet;
    color: blueviolet;
    border-radius: 20px;
    width: max-content;
    padding: 4px 8px;
}
.fileuploaddark{
    color: white !important;
}