.allpolicycontainer{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin-top: 5%;
    min-height: 470px;
    max-width: 850px;
}
.radio{
    margin-left: 40px;
    margin-top: 20px;
}
.tabledark{
    --bs-table-bg: transparent !important;
}