* {
  box-sizing: border-box;
}

.mainpage {
  height: 100%;
  position: relative
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #e62e00;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav navbar {

  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 25rem;
}

nav .navbar.active {
  background-color: #555;
  cursor: pointer;
}

I nav .navbar:hover {
  background-color: red;
  cursor: pointer;
}

nav .navdark:hover {
  background-color: green !important;
  cursor: pointer;
}

.userprofile:hover {
  background-color: transparent;
  cursor: pointer;
}

.themesode :hover {
  cursor: pointer;
}

.dark {
  background: #262626;
  height: 100%;
}

darkcard {
  background: #4d4d4d;
}

.darkdashboardcard {

  background: #4d4d4d;
  margin-top: 5%;
  max-width: 850px;
  padding-bottom: 2%;
  min-height: 485px;
}

I .darkdashboardsinglecard {
  background-color: black !important;
  color: white !important;
}

.darkicon {
  color: green !important;
}

.lightfont {
  font-weight: bold;
  color: inherit;
}

.darkfont {
  font-weight: bold;
  color: white;
}

.darkloginbutton {
  color: green;
  background-color: #36454F;
  font-weight: bold;
  border-radius: 5px;
  border-color: lightgray;
  padding: 5px;
}

.darkguestbutton {

  background-color: #36454F;
  color: lightgrey;
  font-weight: bold;
  border-radius: 5px;
  border-color: lightgray;
  padding: 5px;


}

.darkphonebutton {
  color: black;
  background-color: white;
  margin: 3%;
  border-radius: 10px;
  border: 0;
  padding: 2%;
}

.darkthemetext {
  color: white;
}

.darkallpolicies {
  color: white !important;
}

.darkallpoliciestabs {
  color: green limportant;
}

.userprofiledropdown {
  position: absolute;
  background: white;
  color: black;
  top: 8.46;
  right: 26;
  border: 1px solid white;
  box-shadow: 0px 3px px;
}

.ddoptions{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  cursor: pointer;
  padding: 10px;
}

.ddoptions :hover{
  background-color: lightgray !important;
}